.help-tip
{
	margin-top: 20px;
}

#navigation-buttons .btn
{
	margin: 5px 0px 5px 0px;

	width: 100%;
}

#gf-logo
{
	width: 80%;
}

.title
{
	margin: 100px 0 50px 0;
}

p {
	text-align: center;
	font-family: Hind, sans-serif;
	font-size: 15px;
	color:#8c8c8c;
}

h2 {
	color:#191975;
}

.navbar-brand {
	font-size: 25px;
}

















